.system-error {
    width: 100%;
    position: fixed;
    top:0;
    bottom: 0;
    background: url("../../../images/500.jpg");
    a {
        color: white;
        margin-left: 980px;
        margin-top: 793px;
        display: block;
    }
}
